
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.recipe-list {
  text-align: center;
}

.recipe-list-heading {
  background-color: beige;
  display: inline;
  color: black;
  padding: 15px;
  border: 4px solid;
  border-color: black;
  text-decoration: underline;
  text-decoration-color: black;
  border-radius: 10px;
}

.recipe-form-heading {
  text-align: center;
  text-decoration: underline;
}

.title {
  text-align: center;
}

body {

}

.login-screen {

}

.recipe-screen {
  background-image: url(http://www.bccdc.ca/Health-Info-Site/PublishingImages/food-your-health/foodphoto.jpg);
  background-size: cover;
  color: white;
}

.recipe-form {
  border: 4px solid;
  border-color: black;
  border-radius: 15px;
  background-color: beige;
  color: black;
}

.recipes {
  margin-top: 50px;
}

.list-group-item {
  border: 3px solid !important;
  border-color: black !important;
  background-color: beige;
  border-radius: 15px;
}

.list-group-item:first-child {
  border-radius: 15px;
}

.list-group-item:last-child {
  border-radius: 15px;
}

.recipe-item {
  color: black;
}
